# Node modules
node_modules/

# Build output
dist/
build/

# Logs
*.log

# Dependency directories
.pnpm-debug.log*
pnpm-lock.yaml
yarn.lock
npm-debug.log

# IDE/editor files
.vscode/
.idea/

# System files
.DS_Store

# Public folder (caso tenha arquivos gerados que não queira versionar)
public/

# Outros arquivos que não quer subir
*.env
